 .header__logo-container {
     display: flex;
     align-items: center;
 }

 .header__logo {
     margin-left: 30px;
     font-size: 50px;
     font-weight: bold;
     margin-bottom: 15px;
 }

 .header__hamburger {
     cursor: pointer;
     font-size: 80px;
 }

 .header__menu {
     display: none;
     position: absolute;
     top: 15%;
     left: 10;
     background-color: #fff;
     border: 1px solid #ccc;
     padding-top: 10px;
     padding-bottom: 10px;
    font-size: 60px;
    z-index: 1;
 }

 .header__close {
     display: none;
     font-size: 90px;
 }

 .header__menu {
     display: none;
 }

 .header-nav {
    width: 150px;
    height: 250px;
    margin: 0;
    padding: 0;
 }

 .header-nav__link {
    font-size: 30px;
    color: #1d6ac1;
    text-decoration: none;
    padding: 10px 10px;
    display: block;
    font-weight: bold;
    width: 230px;
 }

 .header__menu.show {
    display: block;
    width: 230px;
    height: 210px;
    border-radius: 20px;
 }

