/* ブレイクポイント 768px 未満のスタイル */
@media screen and (max-width: 1050px) {

}


/* ブレイクポイント 1050px 以上のスタイル */
@media screen and (min-width: 1050px) {



}
.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
}

.header__logo-container {
  display: flex;
  align-items: center;
  height: 50px;
  margin-top: 15px;
}

.main{
  margin-top: 30px;
  max-width: 1200px;
  background-color: rgb(245, 245, 245);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  justify-content: center;
  flex-direction: column;
}

.search-group{
    display: flex;
    justify-content: flex-end;
}

.search-list {
    font-size: 12px;
}

.search-container {
    position: absolute;
    top: 50px;
    right: 0;
    padding: 5px;
}

.sort-container{
    padding-right: 25px;
}

.store-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.store-group {
    width: 100%;
    /* 100%の幅 */
    max-width: 300px;
    /* 最大幅を300pxに設定 */
    height: auto;
    /* 高さは内容に応じて自動調整 */
    margin-bottom: 20px;
    /* 下の要素とのマージン */
}

.store-info {
    border: 1px solid #c3c3c3;
    /* 外枠を1pxの実線でグレー色に設定 */
    padding: 0%;
    /* パディングを0%に設定 */
    border-radius: 8px;
    /* 角を丸める */
    box-shadow: 3px 3px 8px 3px rgba(0, 0, 0, 0.1);
    /* 影を追加 */
}

.store-image img{
    width: 100%;
    /* 画像の幅を調整 */
    height: auto;
    /* 高さを自動調整して画像が歪まないようにする */
    margin-right: 0px;
    /* 画像の右側に余白を追加 */
    border-radius: 5px 5px 0 0;
    /* 角の丸みを設定 */
}

.store-info h3 {
    margin: 5px;
    /* マージンを0に設定 */
}

.store-meta {
    display: inline-block;
    margin-top: 5px;
        /* 上部のマージン */
        margin-bottom: 5px;
        /* 下部のマージン */
        margin-left: 5px;
        /* 左側のマージン */
        margin-right: 0px;
        /* 右側のマージン */
}

.detail-button {
    margin-left: 10px;
    /* 左側のマージン */
    margin-bottom: 10px;
    /* 下部のマージン */
}

.detail-button,
.favorite-button {
    cursor: pointer;
    /* ボタンをクリック可能にする */
    background-color: #007bff;
    /* ボタンの背景色を設定 */
    color: #fff;
    /* ボタンのテキスト色を設定 */
    border: none;
    /* ボタンの枠線をなくす */
    border-radius: 5px;
    /* ボタンの角を丸くする */
    padding: 5px 10px;
    /* ボタンの内側の余白を調整 */
    margin-right: 10px;
    /* ボタンの右側に余白を追加 */
}

.favorite-button i {
    font-size: 40px;
    /* アイコンのサイズを調整 */
    padding-left: 100px;
        /* ボタンの内側の余白を調整 */
}

.favorite-button {
    background-color: #f2f2f2;
    border: none;
    cursor: pointer;
    transition: color 0.3s;
    /* 色の変化をなめらかにするためのトランジション */
}



