@media screen and (max-width: 590px) {

    .manager-representative-group, .search-group {
        margin-top: 60px;
    }

    .search-group {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        gap: 8px;
        padding: 6px;
        background-color: #f8f9fa;
        border-radius: 8px;
        box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
        width: 100%;
        max-width: 590px;
        margin: 0 auto;
    }

}
@media screen and (max-width: 768px) {
    .search-group {
        gap: 0px;
        padding: 6px;
    }

    .search-group label {
        margin-right: 4px;
        font-size: 11px;
    }

    .sort-container select,
    .search-area select,
    .search-genre select {
        max-width: 75px;
    }

    .search-area,
    .search-words{
        min-width: 70px;
    }

    .search-words input[type="text"] {
        width: 100%;
        max-width: 150px;
        padding: 3px;
        font-size: 10px;
    }
}

body {
    min-width: 590px;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
}

.header__logo-container {
    display: flex;
    align-items: center;
    height: 50px;
    margin-top: 15px;
}


.manager-representative-group,
.search-group{
    display: flex;
    justify-content: flex-end;
}

.manager-button, .create-notice-button, .representative-button {
    margin: 10px 0;
}

.manager-button button, .create-notice-button a, .representative-button button {
    display: inline-block;
    padding: 10px 10px;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    text-decoration: none;
}

.manager-button button:hover, 
.create-notice-button a:hover, 
.representative-button button:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

.manager-button button:active, 
.create-notice-button a:active, 
.representative-button button:active {
    background-color: #003d80;
    transform: scale(1);
}

.manager-button, .create-notice-button, .representative-button {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
}

.manager-button,
.create-notice-button {
    margin: 0 10px 10px;
}

.search-list {
    font-size: 12px;
}

.search-container {
    position: absolute;
    top: 20px;
    right: 0;
    padding: 5px;
}

.sort-container{
    padding-right: 25px;
}

.search-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding: 0px;
    background-color: #f8f9fa;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    min-width: 590px;
}

.search-group label {
    font-weight: bold;
    margin-right: 10px;
}

.search-group form select, 
.search-group form input[type="text"] {
    padding: 8px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    transition: border-color 0.3s;
    outline: none;
}

.search-group form select:focus, 
.search-group form input[type="text"]:focus {
    border-color: #007bff;
}

.sort-container {
    flex: 2;
    display: flex;
    align-items: center;
    min-width: 150px;
}

.search-area {
    display: flex;
    align-items: center;
    min-width: 75px;
}

.search-genre {
    display: flex;
    align-items: center;
    min-width: 75px;
}

.search-words {
    flex: 1;
    display: flex;
    align-items: center;
    min-width: 200px;
}

.search-words input[type="text"] {
    width: 100%;
    max-width: 400px;
}

.main{
  margin: 80px auto;
  max-width: 2000px;
  background-color: rgb(245, 245, 245);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  justify-content: center;
  flex-direction: column;
}

.store-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.store-group {
    width: 100%;
    max-width: 300px;
    height: auto;
    margin-bottom: 20px;
}

.store-info {
    border: 1px solid #c3c3c3;
    padding: 0%;
    border-radius: 8px;
    box-shadow: 3px 3px 8px 3px rgba(0, 0, 0, 0.1);
}

.store-image img{
    width: 100%;
    height: auto;
    margin-right: 0px;
    border-radius: 5px 5px 0 0;
}

.store-info h3 {
    margin: 5px;
}

.store-meta {
    display: inline-block;
    margin-top: 5px 5px 5px 0;
}

.detail-button {
    margin-left: 10px;
    margin-bottom: 10px;
}

.detail-button,
.favorite-button {
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    margin-right: 10px;
}

.favorite-button i {
    font-size: 40px;
    padding-left: 100px;
}

.favorite-button {
    background-color: #f2f2f2;
    border: none;
    cursor: pointer;
    transition: color 0.3s;
}



