body {
    background-color: #f2f2f2;
    margin: 10px;
    padding: 0;
}

.registration_end__content {
    border: 1px solid #ccc;
    /* 外枠の色と太さを設定 */
    padding: 20px;
    /* 内側の余白を追加 */
    border-radius: 8px;
    /* 角を丸くする */
    max-width: 400px;
    /* 最大幅を設定 */
    margin: 40px auto;
    /* 上下にマージンを追加して中央寄せ */
}

