.header__inner{
    height: 60px;
    margin-bottom: 20px;
}
.header__logo-container {
    display: flex;
    align-items: center;
    height: 50px;
}

.main {
    max-width: 1000px;
    margin: 0 auto;
    background-color: rgb(245, 245, 245);    
}

.detail-container {
    
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    justify-content: center;
    flex-direction: column;
}

.detail-group{
    display: flex;
    justify-content: flex-start;
}

.store-container {
    max-width: 580px;
}

.back-button {
    margin-top: 7px;
    background-color: white;
    border: 2px solid white;
    color: rgb(0, 0, 0);
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 1.1);
    transition: all 0.3s ease;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.back-button:hover {
    box-shadow: 0 3px 4px 1px rgba(0, 0, 0, 1.2);
    transform: translateY(-2px);
}

.back-button .material-icons-outlined {
    font-size: 18px;
}

.store-name{
    margin-left: 15px;
}

.store-image{
    max-width: 400px;
    max-height: 400px;
}
.store-name {
    font-size: 30px;
    margin-top: 1px;
    margin-bottom: 1px;
}

.store-info {
    height: auto;
    display: block;
    margin: auto;
    text-align: center;
    display: inline-block;
    margin-right: 10px;
    max-height: 560px;
}

.move-button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    max-width: 560px;
    background-color: #004fe1d8;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    text-decoration: none;
}

.move-button-container {
  margin-bottom: 10px;
}

.review{
    border-top: 2px solid #ccc;
    border-bottom: 2px solid #ccc;
}

.store-area-genre {
    display: flex;
    max-width: 200px;
    margin-left: 100px;
}

.genre{
     margin-left: 10px;
}

.overview{
    text-align: justify;
}

.booking-container {
    max-width: 325px;
    max-height: 800px;
    background-color: #007BFF;
    padding: 20px;
    border-radius: 8px;
    margin-left: 20px;
}

.booking-info {
    color: white;
}

.reservation-time,
.reservation-people{
    max-width: 360px;    
}

#bookingForm div {
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 18px;
}

.date-label{
    max-width: 170px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 5px;
    margin-bottom: 15px;
}

.reservation-time,
.reservation-people{
    max-width: 295px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 5px;
    margin-bottom: 15px;
}

.booking-confirm{
    padding: 10px;
     background-color: #3996fa;
     border-radius: 4px;
}

.submit-button {
    display: block;
    max-width: ;width: 325px;
    padding: 5px 100px;
    text-align: center;
    background-color: #004fe1d8;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px;
     margin-top: 100px;
}

.star-rating .star {
    font-size: 2rem;
    color: #ccc;
    cursor: pointer;
}

.star-rating .star.selected {
    color: #ffcc00;
}

.star-rating{
    display: flex;
    align-items: center;
}

.review-actions {
    display: flex;
    gap: 10px;
    margin: 0 20px 0 40px;
    width: 210px;
}

.review-comment{
    max-width: ;width: 600px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.review-posted{
    display: flex;
    gap: 30px;
}

/* 1025px以下のレスポンシブ設定 */
@media (max-width: 1025px) {
    .main {
        max-width: 840px;
    }
    .detail-container {
        display: flex;
    }

    .store-container {
    max-width: 400px;
    }

    .store-area-genre {
        display: flex;
        max-width: 200px;
        margin-left: 35px;
    }

    .detail-group,
    .store-info {
        margin-right: 0;
    }

    .booking-container {
        max-width: 310px;
        max-height: 800px;
        background-color: #007BFF;
        padding: 20px;
        border-radius: 8px;
        margin-left: 20px;
    }

    .star-rating .star {
        font-size: 1.8rem;
        color: #ccc;
        cursor: pointer;
    }

    .review-comment {
        max-width: ;
        width: 400px;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .review-actions {
    margin: 0px;
}
}

/* 840px以下のレスポンシブ設定 */
@media (max-width: 840px) {
    .header__logo-container {
        height: 50px;
    }

    .detail-container {
        align-items: flex-start;
        background-color: white;
    }

    .detail-group {
        width: 50%;
        flex-direction: column;
        align-items: flex-start;
    }

    .store-info {
        width: 100%;
        text-align: justify;
    }

    .booking-container {
        width: 100%;
        margin: 20px 0;
    }

    .move-button {
        width: 100%;
        font-size: 14px;
    }

    .store-name {
        font-size: 24px;
        text-align: center;
    }

    .store-area-genre {
        display: -webkit-box;
        flex-direction: column;
        align-items: center;
        margin-left: 0;
        height: 25px;
    }

    .star-rating {
    display: contents;
    }

    .review-comment {
        width: 100%;
    }

    .review-posted {
        flex-direction: row;
        gap: 10px;
        align-items: center;
    }

    .review-actions {
        width: 100%;
        justify-content: center;
    }

    .booking-container {
        margin: 20px 0;
        width: 360px;
    }

}





